.loader{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width:100%;
    background-color: rgb(18, 0, 52);
    color:white;
    display: grid;
    place-items: center;
    text-align: center;

    h1{
        font-family: "Poppins, sans-serif";
        text-transform: uppercase;
        font-size: 12rem;
        font-weight: 800;
        width: 70%;
        height: 100%;
        -webkit-text-stroke: 1px white;
        color:transparent;
        background-clip: text;
        background-size: cover;
        background-position: center;
        background-image: url('https://img.freepik.com/free-photo/psychedelic-girl-illustration_23-2151508442.jpg?semt=ais_hybrid');
    }
}